html{

    height: 100%;
}
body{
    height: 100%;
    background-color: white;
}
.jumbotron{

    background: url(../img/index1.jpg) no-repeat center center fixed ;
    background-size: cover;
    height: 100%;

}
.navbar.navbar-fixed-top.navbar-inverse{
    color: black;
}
.text-center.banner-text{
    color: white;
    font-size: 45px;
    margin-top: 300px;
    
}
h2{
    font-family: Arial;
}
.row.row-text{
    font-family: Arial;
    color: black;
}
.footer{
    color: black;
    text-align: center;   
    height: 40px;
}


