html{

    height: 100%;
}
body{
    height: 100%;
    background-color: #191919;
}
.jumbotron{

    background: url(../img/background-city.jpg) no-repeat center center fixed ;
    background-size: cover;
    height: 100%;

}
.text-center.banner-text{
    color: white;
    font-size: 45px;
    margin-top: 300px;
    
}
h2{
    font-family: Verdana;
}
.row.row-text{
    font-family: Arial;
    color: white;
}
.footer{
    color: white;
    text-align: left;   
    height: 40px;
}


